@import '@scss/variables.scss';
@import '@scss/mixins.scss';
@import '@scss/animations.scss';
.container {
  display: flex;
  align-items: center;
  gap: 6.25rem;
  .item {
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 3.25rem;
    .title {
      font-size: 4.5rem;
      background: linear-gradient(to bottom, $secondaryColor, #bbb);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .desc {
      font: {
        size: 1.5rem;
        weight: 300;
      }
    }
    &.imgCont {
      animation: imgMove $mainAnimationTime ease infinite alternate;
      min-height: 31rem;
      position: relative;
      .img {
        object-fit: contain;
      }
    }
  }
  @media (max-width: 992px) {
    margin-top: 3rem;
    flex-flow: column;
    text-align: center;
    .item {
      align-items: center;
      .title {
        font-size: 2.5rem;
      }
      .desc {
        font-size: 1rem;
      }
      &.imgCont {
        min-width: 25rem;
        order: -1;
      }
    }
  }
}
