// Colors
$primaryColor: #53c28b;
$secondaryColor: #194c33;

// Transitions
$mainTransition: 0.4s;

// Times
$mainAnimationTime: 2s;

// Border_Radius
$mainRadius: 0.625rem;
$secondaryRadius: 0.5rem;
